body {
    font-family: calibri;
    margin-left: auto;
    margin-right: auto;
    background-image: url(Afbeeldingen/background.jpg);
    background: 
}

.paneel.actief {
    display: block !important;
    top: 0;
}
.paneel img {
    max-width: 100%;
    margin-right: auto;
}
.container_12 {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    
}
a {
    text-decoration: none;
    font-family: calibri;
    color: black;
    text-align: center;
}
#foto img{
    height: 400px;
}
h1 {
    text-align: center;
    font-family: broadway;
}
ul li {    
    font-size: 15px;
} 
h2 {
    text-align: center;
    font-size: 25px;
}

h2:hover {
color:lightgrey;
    
}
.grid_5 {
    text-align: center;
}
#acme {
    height: 90px;
}
#home {
    text-align: center;
}
.tag{
    text-align: center;
}
#cssmenu {
    top: 0;
    display: block;
    position: relative;
  zoom: 1;
  width: auto;
  background: #3F250B;
  padding: 2px 0;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
    text-decoration: none;
  list-style-type: none;
  display: block;
  font-size: px;
  margin: 0;
    width:600px;
    margin-left: auto;
    margin-right: auto;
  padding: 1px;
  border-bottom: 2px solid white;
  zoom: 1;
    
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#cssmenu li a {
  float: left;
  color: #A79787;
  text-decoration: none;
  padding: 10px 15px 0;
  font-weight: normal;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
}
#cssmenu li:hover a {
  color: #fff;
}
#cssmenu .active a {
  color: #;
  font-weight: 700;
}
#ewa{
    font-family: Broadway;
    font-size: 45px;
    margin-left: 180px;
}

nav {

    height: 2 em;
    display: block;
    width: 100%;
    transition-property: top;
    transition-duration: 500ms;
    
    position: fixed;

}

nav ul {
    
    list-style-type:  none;
    margin: 0;
    padding: 0 2em;
    overflow: hidden;
}

nav ul li {
    
    float: left;
    padding: 0 2em;
}
#banner{
    height: 300px;
}







#button2 {
 width: 50px;
    height: 30px;
    position: absolute;
    top: left;
    margin-top: 4px;
    margin-left: 1850px;
   
}


#button3 {
 width: 50px;
    height: 30px;
    position: absolute;
    top: left;
    margin-top: 24px;
    margin-right: 1850px;
   
}

#hello {
width: 300px;
    height: 400px;
    
    
}

#footer1 {
  background: #3F250B;
    
}

ul {
 
    font-family: calibri;
    color: #A79787;
}

a:hover {
 color: white;
    
}

a {
  font-family: calibri;
    color: #A79787;  
    
}

ul:hover {
 color: white;
    
}

h4 {
    font-family: calibri;
 margin-left: 28px;
    color: #A79787;
    
}

h4:hover {
 color: white;
    
}

footer {
 bottom: 0;
    
}


#submit {
 width: 100px;   
    
}

h2 {
 color: black;
    
}
    
}
